body {
  background: linear-gradient(-45deg, #010400, #72DDF7, #FFAFF0, #fff);
  background-size: 400% 400%;
  animation: gradient 300s ease infinite;
  background: -webkit-linear-gradient(to right, #ff0099, #493240); 
  background: linear-gradient(to right, #ff0099, #493240);
  background-image: url(../public/images/bg1.5.jpg);
  
}
@keyframes gradient {
  0% {
    background-position: 20% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} 


h1 {
  font-weight: 900;
}

h2 {
  font-weight: 700;
}

.container {
padding: 40px; 
background-color: #8a1c7c;
background-image: linear-gradient(16deg, #8a1c7c 1%, #FF5ACD 20%, #f367d4 48%, #ffaff0 75%, #ffffff 100%);
 
}

.carousel-container.container {
  padding: 15px;
  width: 70%;
  height: 50%;
} 

.quote-container p {
  font-size: clamp(23px, 4vw, 26px);
  font-weight: 700;
}

.quote-container q {
  font-size: 105%;
}

.grid-container {
  background-image: url(../public/images/bg2.5.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-container h2 {
  color: black;
}

.video .container{
  text-align: center;
  position: fixed;
}

footer section {
  margin-top: 25px ;
}