@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200&family=Lobster&family=Tilt+Prism&display=swap");

body {
  background: linear-gradient(-45deg, #010400, #72ddf7, #ffaff0, #fff);
  background-size: 400% 400%;
  animation: gradient 300s ease infinite;
  background: -webkit-linear-gradient(to right, #ff0099, #493240);
  background: linear-gradient(to right, #ff0099, #493240);
  background-image: url(../public/images/bg1.5.jpg);
}
@keyframes gradient {
  0% {
    background-position: 20% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.about-container {
  background-size: cover;
}

p {
  font-weight: 900;
  font-family: "Lobster";
  font-size: 25px;
}

h1 {
  font-weight: 900;
  font-family: "Lobster";
}

h2 {
  font-weight: 700;
}

.container {
  padding: 40px;
  background-color: #8a1c7c;
  background-image: linear-gradient(
    16deg,
    #8a1c7c 1%,
    #ff5acd 20%,
    #f367d4 48%,
    #ffaff0 75%,
    #ffffff 100%
  );
}

.carousel-container.container {
  padding: 15px;
  width: 70%;
  height: 50%;
}

.quote-container p {
  font-size: clamp(23px, 4vw, 26px);
  font-weight: 700;
  font-family: "Lobster";
}

.quote-container q {
  font-size: 105%;
}

.grid-container {
  background-image: url(../public/images/bg2.5.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Lobster";
}

.grid-container h2 {
  color: black;
}

.video .container {
  text-align: center;
  position: fixed;
}

.video-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

footer section {
  margin-top: 25px;
}

footer{
  margin-top: 15px;
  border-radius: 10%;

}