body {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


h1 {
  font-weight: 900;
}

h2 {
  font-weight: 700;
}

.container {
 padding: 40px 
}

.carousel-container {
  padding: 15px;
} 

.quote-container p {
  font-size: clamp(23px, 4vw, 26px);
  font-weight: 700;
}

.quote-container q {
  font-size: 105%;
}

.grid-container {
  background-color:salmon;
}

.grid-container h2 {
  color: white;
}